<style>
/*.passport-file {
    z-index: 1;
    opacity: -20;
    position: absolute;
    width: 55px;
    margin-left: 22px;
    margin-top: 50px;
}

.passport-icon {
    color: var(--primary);
    position: absolute;
    margin-top: 47px;
    margin-left: 50px;
    padding: 5px 4px 0px 4px;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15) !important;    
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
}

/*@media (min-width: 769px) {
  #fixed-bottom-nav {
    display: none !important;
  }
  
}
@media (max-width: 768px) {
  .d-footer {
    display: none;
  }
}*/

/*#fixed-bottom-nav {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 54px;
  display: flex;
}
.bottom-nav-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.bottom-nav-flex > div {
  margin-top: 1px;
  margin-bottom: 0px;
  font-size: 15px;
}
.bottom-nav-flex .small {
  font-size: 11px;
  font-weight: 600;
}
.bottom-nav-flex > * {
  color: #666666;
}
.bottom-nav-flex > a:hover {
  color: #666666;
}
.b-nav-active {
  color: #339966;
}
.b-nav-active > * {
  color: #339966;
}
*/


/*****do not delete *****/


/*.reload-wrapper {
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

.reload-container {
  margin-top: 100px;
}

.reload-btn {
   border-radius: 30px;
   background-color: rgb(24, 145, 240);
   color: #fff;
}

.reload-btn:hover {
    background-color: rgb(24, 145, 219);
}

.no-focus:focus {
    box-shadow: none;
}

.err-info-text {
    line-height: 1.3125;
    font-size: 15px;
}

.btn-icon {
    font-size: 16px;
    font-weight: bolder;
    margin-right: .3rem;
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
    height: 1.3rem;
    width: 1.3rem;
    user-select: none;
}

.btn-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
}
*/





</style>  
<div class="row no-gutters px-0" id="collapseExample">
    <div class="col text-left">
        <div class="small-xs text-muted ">Due Fees</div>
        <div class="small font-weight-bold text-danger">&#8358; 0.0</div>
    </div>
    <div class="col text-left px-1 pl-2">
        <div class="small-xs text-muted">Age</div>
        <div class="small font-weight-midi text-dark">16 Years</div>
    </div>
</div>


<div class="border rounded-top-lg rounded-right-lg pt-2 pb-1 px-2 mb-3">
    <div class="text-capitalize font-weight-midi h7">Adm Date</div>
    <div class="text-capitalize small">{{student.admission_date}}</div>
</div>

<div class="border rounded-top-lg rounded-right-lg pt-2 pb-1 px-2 mb-3">
    <div class="text-capitalize font-weight-midi h7">Health Info</div>
    <div class="text-capitalize small">Balogun</div>
</div>

<div class="border rounded-top-lg rounded-right-lg pt-2 pb-1 px-2 mb-3">
    <div class="text-capitalize font-weight-midi h7">Phone</div>
    <div class="text-capitalize small">{{student.phone}}</div>
</div>

<div class="border rounded-top-lg rounded-right-lg pt-2 pb-1 px-2 mb-3">
    <div class="text-capitalize font-weight-midi h7">Mobile Phone</div>
    <div class="text-capitalize small">Balogun</div>
</div>

<div class="border rounded-top-lg rounded-right-lg pt-2 pb-1 px-2 mb-3">
    <div class="text-capitalize font-weight-midi h7">Email</div>
    <div class="text-capitalize small">{{student.email}}</div>
</div>

<div class="border rounded-top-lg rounded-right-lg pt-2 pb-1 px-2 mb-3">
    <div class="text-capitalize font-weight-midi h7">Home Address</div>
    <div class="text-capitalize small">{{student.residential_address}}</div>
</div>


<script type="text/javascript">
import store from '../store'
import User from '@/apis/User'

// do not delete

export default {
  async admin (callback) {
    if (store.getters.user === null || store.getters.user.length <= 0) {
          await User.me().then((res) => {

          // store.commit('SET_USER', res.data)
          // if (store.getters.user.type === 'admin') return callback(true)
         //   else return callback(false)

        })
        .catch((err) => {
              // if (err.response.status === 401) return callback(false)
              // else return callback(false)
        })
    }
    else if (store.getters.user.type === 'admin') {
          return callback(true)
      } else {
        return callback(false)
      }
  }
}


/********* do not delete ********/
  // try {
  //     await middleware.admin((res) => {
  //         if (res === false) {
  //             return router.push({
  //                 path: '/login',
  //                 query: { redirect: 'forbidden' }
  //             })
  //         } else if (res === true) {
  //             store.commit('SET_APP_READY', true)
  //         } else if (res === 'retry') {
  //             store.commit('SET_APP_READY', false)                   
  //         }
  //     })

  //     if(store.state.auth.appReady === false) {
  //         return false
  //     } else {
  //         return true
  //     }
  // } catch (error) {
  //     if (error /*instanceof NotAllowedError*/ ) {
  //         // ... handle the error and then cancel the navigation
  //         return false
  //     } else {
  //         // unexpected error, cancel the navigation and pass the error to the global handler
  //         throw error
  //     }
  // }


// do not delete
const selectStudent = (event, student) => {
    if (event.currentTarget.checked) {

        selectedStudents.value.push(student)
    } else {
        
        // if uncheck we will remove student object from selection
        selectedStudents.value.forEach((selected, index) => {
            if(selected.student_id === student.student_id) {
                selectedStudents.value.splice(index, 1);
            }
        })                
    } 
}


// do not delete
const adminGate = async() => {
    store.commit('SET_APP_LOAD_RETRY', false)
    await middleware.admin((res) => { 
      if (res === false)  {
        store.commit('SET_APP_READY', false)
            router.push({ path: '/login', query: { redirect: 'forbidden' } })
        } 
        else if(res === true) {
          store.commit('SET_APP_READY', true)
        }
    })
}

</script>

<style type="text/css">
  .fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}
</style>





<!-- important do not delete later on -->
<div class="input-group input-group-solid mb-4">
    <div class="input-group-prepend">
        <div class="input-group-text bg-light">
            <div :class="{'show': dropdownToggle }" class="dropdown"><!-- data-toggle="dropdown" -->
            <a @click="dropdownToggle = !dropdownToggle"
                class="dropdown-toggle text-dark text-decoration-none small"
                role="button" id="dLink"
                aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-filter fa-sm"></i>
                <span class="d-none d-sm-inline"> Filter</span>
            </a>
            <div :class="{'show': dropdownToggle }" class="dropdown-menu modal-dropmenu dropdown-menu-right border-0 shadow py-3 px-2" aria-labelledby="dLink">
                
                <select class="custom-select" v-model="fetchStudentParams.class" name="class-filter">
                    <option value="all">All Classes</option>
                    <option value="1">Demo class</option>
                </select>
            </div>
        </div>
    </div>
</div>
<input class="form-control bg-light" type="search" placeholder="Search" aria-label="Search">
</div>


<!-- <div class="custom-control-lg custom-control custom-checkbox mr-n2">
    <input type="checkbox" class="custom-control-input" 
        :checked="selectedStudents.some(std => std.student_id === student.student_id)"
        :disabled="feeInvoices.some(invoice => invoice.student_id === student.student_id)"
        @click="selectStudent($event, student)" :id="'checkbox'+student.student_id">
    <label class="custom-control-label" :for="'checkbox'+student.student_id"></label>
</div> -->




<!-- do not delete this -->

<div v-if="store.state.auth.appLoadRetry" class="reload-wrapper fade-in">
    <div class="d-flex flex-column align-items-center reload-container">
        <div class="err-info-text text-center px-2">Oops we are unable to load the page please try again</div>
        <button class="d-flex btn reload-btn no-focus mt-3" @click="adminGate()">
            <svg viewBox="0 0 24 24" class="btn-icon">
                <g><path d="M12 2C6.486 2 2 6.486 2 12c0 .414.336.75.75.75s.75-.336.75-.75c0-4.687 3.813-8.5 8.5-8.5s8.5 3.813 8.5 8.5-3.813 8.5-8.5 8.5c-2.886 0-5.576-1.5-7.13-3.888l2.983.55c.402.08.798-.193.874-.6.076-.408-.194-.8-.6-.874l-4.663-.86c-.204-.04-.414.01-.58.132-.168.123-.276.31-.3.515l-.57 4.706c-.05.412.242.785.653.835.03.004.06.006.09.006.375 0 .698-.278.745-.66l.32-2.63C5.673 20.36 8.728 22 12 22c5.514 0 10-4.486 10-10S17.514 2 12 2z"></path></g>
            </svg>
            <span class="btn-text text-nowrap">Try again</span>
        </button>
    </div>store.state.auth.loggedIn && 
</div>